* {
    padding: 0px;
    margin: 0px;
    /* Mengubah font */
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    /* Mengubah warna background */
    background-color: #723571;
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
}

header ul {
    display: flex;
    flex-direction: row;
}

header h1 {
    padding-left: 16px;
    /* Mengubah warna tulisan */
    color: white;
    /* Menggunakan font size */
    font-size: 46px;
}

header img {
    border-radius: 16px;
}

header ul li {
    list-style: none;
    margin: 16px;
}

/* Menggunakan selector class, id dan tag */
header #unorderedlist .link {
    /* Mengubah warna background */
    background-color: #fff;
    /* tag <a> tidak berwarna biru */
    color: black;
    border-radius: 8px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    /* Menggunakan font size */
    font-size: 22px;
}

header #unorderedlist a:hover {
    background-color: #eaeaea;
}

header #unorderedlist a:active {
    background-color: #fff;
    color: red;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form fieldset {
    border: none;
    margin: 34px;
}

form fieldset .btn-success {
    width: 100%;
    cursor: pointer;
    border-radius: 16px;
    font-size: 24px;
    background-color: #0069d9;
    color: white;
}

form fieldset .btn-success:active {
    background-color: #4f99e8;
}

footer {
    display: flex;
    justify-content: space-evenly;
    /* Mengubah warna background */
    background-color: #723571;
    padding: 16px;
    color: white;
}